{
  "tabWidth": 2,
  "semi": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.{js,cjs,mjs,ts,cts,mts,tsx,vue}",
      "options": {
        "plugins": ["@trivago/prettier-plugin-sort-imports"]
      }
    }
  ]
}